* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

.contents1 {
    font-size: 18px;
    font-weight: lighter;
    color: rgb(66, 64, 64);
}

.contents2 {
    font-size: 24px;
}

/* intro */

.intro_bg {
    background-image:url("../img/main_bg_1.jpg");
    background-size: cover;
    opacity: 0.8;
    width: 100%;
    height: 750px;
}

.header {
    width: 100%;
    margin: auto;
    height: 86px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    margin-right: 0;
}

.nav > li {
    margin-top: 10px;
    margin-left: 84px;
    margin-right: 50px;
}

.nav > li > a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

/* list */

.list {
    position: relative;
    top: -66px;
    display: flex;
    width: 1200px;
    background: #fff;
    margin: auto;
}

.list > li {
    flex: 1;
    height: 132px;
    background: #fff;
}

.list > li > div {
    text-align: center;
    margin-top: 37px;
    height: 57px;
}

.list > li:not(:last-child) > div {
    border-right: 1px solid #E1E1E1;
}

/* main */

.main_text {
    width: 100%;
    height: 950px;
    margin-top: -132px;
    background: #f1f2f3;
}

.service {
    position: relative;
    width: 1200px;
    display: flex;
    height: 700px;
    margin: auto;
    padding-top: 120px;
}

.service > li {
    flex: 1;
}

.service > li:nth-child(1) > h2 {
    font-weight: bold;
    margin-left: 20px;
}

.service > li:nth-child(1) > h3 {
    font-weight: lighter;
    margin-left: 40px;
    margin-top: 10px;
}

.bg_wrap {
    background-image:url("../img/heatmap.png");
    background-size: cover;
    width: 400px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 40px;
}

.bg_wrap > .text {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.bg_wrap > .text > p:nth-child(1) {
    width: 160px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
    color: #000;
    background-color: #fff;
    border: 2px solid lightgray;
    text-align: center;
}

.bg_wrap > .text > p:nth-child(2) {
    width: 160px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 230px;
    color: #000;
    background-color: #fff;
    border: 2px solid lightgray;
    text-align: center;
}

.bg_wrap > .text > p:nth-child(3) {
    width: 160px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 90px;
    margin-left: 30px;
    color: #000;
    background-color: #fff;
    border: 2px solid lightgray;
    text-align: center;
}

.bg_wrap > .text > p:nth-child(4) {
    width: 160px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 255px;
    color: #000;
    background-color: #fff;
    border: 2px solid lightgray;
    text-align: center;
}

.bg_wrap > .text > p:nth-child(5) {
    width: 160px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 80px;
    margin-left: 25px;
    color: #000;
    background-color: #fff;
    border: 2px solid lightgray;
    text-align: center;
}

.bg_wrap > .text > p:nth-child(6) {
    width: 160px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 120px;
    margin-left: 35px;
    color: #000;
    background-color: #fff;
    border: 2px solid lightgray;
    text-align: center;
}

.service > li:nth-child(1) > .ref {
    text-align: right;
    text-decoration: underline;
    font-weight: lighter;
    margin-top: 15px;
    margin-right: 160px;
}

.service > li:nth-child(2) > h2 {
    font-weight: bold;
    margin-left: -40px;
}

.service > li:nth-child(2) > div {
    font-weight: bold;
    margin-left: -40px;
    margin-top: 30px;
}

.service > li:nth-child(2) > div > p {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.progress_bar {
    width: 600px;
    height: 30px;
    background-color: #dedede;
    font-weight: 600;
    font-size: .8rem;
}

.progress_bar .progress_1 {
    width: 75%;
    height: 30px;
    padding: 0;
    text-align: center;
    background-color: #002353;
    color: #111;
}

.progress_bar .progress_2 {
    width: 55%;
    height: 30px;
    padding: 0;
    text-align: center;
    background-color: #002353;
    color: #111;
}

.progress_bar .progress_3 {
    width: 79%;
    height: 30px;
    padding: 0;
    text-align: center;
    background-color: #002353;
    color: #111;
}

.progress_bar .progress_4 {
    width: 89%;
    height: 30px;
    padding: 0;
    text-align: center;
    background-color: #002353;
    color: #111;
}

.service > li:nth-child(2) > p {
    width: 540px;
    font-size: 18px;
    margin-left: -40px;
    margin-top: 40px;
}

.service > li:nth-child(2) > p > span {
    width: 540px;
    font-size: 15px;
    margin-left: -40px;
    margin-top: 40px;
}

/* footer */

.footer {
    width: 100%;
    height: 110px;
    background: black;
    opacity: 0.7;
}

.footer > p {
    font-size: 15px;
    font-weight: lighter;
    text-align: right;
    color: #fff;
    margin-right: 20px;
    padding-top: 25px;
}